<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="alarm">
	
	<select id="MSNChk" resultType="String">
		SELECT CHK FROM MESSENGER WHERE RECV_ID = #{id}
	</select>
	
	
	<select id="MEMChk" resultType="String">
		SELECT CHK FROM MESSENGER WHERE RECV_ID = #{id}
	</select>
	
	
	
</mapper>  






