<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="bulltein">
	

	<select id="BullteinList" resultType="com.bc.main.vo.BoardVO">
		SELECT * FROM B_BOARD ORDER BY BB_IDX DESC
	</select>
	
	
	
	<select id="BullteinOne" resultType="com.bc.main.vo.BoardVO" parameterType="String">
		SELECT * FROM B_BOARD WHERE BB_IDX = #{bb_idx}
	</select>
	
	
	
	<insert id="BullteinWrite" parameterType="com.bc.main.vo.BoardVO">
		 INSERT INTO B_BOARD (BB_IDX, ID, TITLE, CONTENT, L_IDX, BBS_IDX)
					VALUES(BB_SEQ.NEXTVAL, 'test', #{title}, #{content}, 1, 301) 
	</insert>
	
	
	
	<update id="BullteinUpdate" parameterType="com.bc.main.vo.BoardVO">
		UPDATE B_BOARD
		       SET TITLE = #{title},
		         CONTENT = #{content}
		 	WHERE BB_IDX = #{bb_idx}
	</update>
	
	<delete id="BullteinDelete" parameterType="String">
		DELETE FROM B_BOARD WHERE BB_IDX = #{bb_idx}
	</delete>
	
</mapper>  






