<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="bulltein">
	
	<select id="BullteinList" resultType="BullteinBoardVO">
		SELECT * FROM STUDY ORDER BY B_IDX
	</select>
	
	<insert id="BullteinWrite" parameterType="com.bc.minseong.command.BullteinBoardVO">
		INSERT INTO BULLTEINBOARD (B_IDX, ID, TITLE, CONTENT, REGDATE)
					VALUE(#{b_idx}, #{id}, #{title}, #{content}, REGDATE)
	</insert>
	
	
</mapper>  






