<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">
	
	<select id="CommentList" resultType="com.bc.main.vo.CommentVO" parameterType="String">
		SELECT * FROM BB_COMMENT WHERE BB_IDX = #{bb_idx} ORDER BY BBC_IDX DESC
	</select>
	
	
	<insert id="CommentWrite" parameterType="com.bc.main.vo.CommentVO">
		INSERT INTO BB_COMMENT (BBC_IDX, ID, CONTENT, PW, REGDATE, BB_IDX)
					VALUES(BBC_SEQ.NEXTVAL, #{id}, #{content}, #{pw}, SYSDATE, 1)					 
	</insert>
	
	
	
	<delete id="CommentDelete" parameterType="String">
		DELETE FROM BB_COMMENT WHERE BBC_IDX = #{bbc_idx}
	</delete>
	
</mapper>  






